p.target {
    background: cadetblue;
    color: lightpink;
    text-align: justify;
}
img{
    border: 10px solid #3cff2e;
    width: 700px;
}
.point {
    font-size: 45px;
}
h1, h2
{
    text-align: center;
}

body{
    background: darkseagreen;
}

p, ul{
    font-size: 30px;
}