@media screen and (max-width: 400px){
    .sm-icons{
        display: none;
    }
    .nav__button{
        display: flex;
    }
    .products{
        padding: 10px;
    }
    .products__list{
        flex-direction: column;
    }
    .about__grid{
        flex-direction: column;
    }
    .about_card{
        width: 100%;
    }
    .nav{
        display: none;
    }
    .blocks{
        padding: 10px;
    }
    .blocks__list{
        flex-direction: column;
    }
    .footer_1{
        padding: 10px;
    }
    .foot{
        flex-direction: column;
        padding: 10px;
    }
    .left{
        height: 40%;
    }
    .left button{
        width: 70%;
        height: 70%;
    }
    .left p {
        display: none;
    }
    .right{
        height: 40%;
    }
    .right button{
        width: 70%;
        height: 70%;
    }
    .right p {
        display: none;
    }
    .footer{
        padding: 20px;
    }
    .footer span{
        width: 40%;
    }
}