@media screen and (max-width: 400px){
    .sm-icons{
        display: none;
    }
    .nav__button{
        display: flex;
    }
    .products{
        padding: 10px;
    }
    .products__list{
        flex-direction: column;
    }
    .about__grid{
        flex-direction: column;
    }
    .about_card{
        width: 100%;
    }
    .nav{
        display: none;
    }
}